In [8]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

In [9]:

df = pd.DataFrame({'A': ['x', np.NaN, 'z'], 'B': [1, 6, 9], 'C': [2, 1, np.NaN]})

original = df
mask = df.isnull()
df = df.astype(str).apply(LabelEncoder().fit_transform)
kf=df.where(~mask, original)

kf

     A  B    C
0    1  0    1
1  NaN  1    0
2    2  2  NaN

In [10]:
df = pd.DataFrame({'A': ['x', np.NaN, 'z'], 'B': [1, 6, 9], 'C': [2, 1, np.NaN]})
encoders = dict()
for col_name in df.columns:
    series = df[col_name]
    label_encoder = LabelEncoder()
    df[col_name] = pd.Series(
        label_encoder.fit_transform(series[series.notnull()]),
        index=series[series.notnull()].index)
    encoders[col_name] = label_encoder
print(df)

     A  B    C
0  0.0  0  1.0
1  NaN  1  0.0
2  1.0  2  NaN