In [1]:
from datetime import datetime
import os
import pandas as pd
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

In [2]:
def ts2date(timestamp):
    dt_object = datetime.fromtimestamp(timestamp)
    return str(dt_object)


def date2ts(date):
    now = pd.Timestamp(date)
    ts = datetime.timestamp(now)
    return ts

In [3]:
tss=[1556540442,1556540441,1556540455,1556540785,1556550442,1576540442]

In [4]:
new_date=[]
for i in tss:#df["ts"]:
    print(i)
    new_date.append(ts2date(i))
new_date

1556540442
1556540441
1556540455
1556540785
1556550442
1576540442

['2019-04-29 13:20:42',
 '2019-04-29 13:20:41',
 '2019-04-29 13:20:55',
 '2019-04-29 13:26:25',
 '2019-04-29 16:07:22',
 '2019-12-16 23:54:02']

In [5]:
ts=[]
for i in new_date:#df["ts"]:
    ts.append(date2ts(i))
ts

[1556540442.0,
 1556540441.0,
 1556540455.0,
 1556540785.0,
 1556550442.0,
 1576540442.0]